:host {
  background-color: inherit;
}

.square {
  width: 150px;
  /* height: 150px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: inherit;
  max-width: calc(100vw/5);
  overflow: hidden;
  aspect-ratio: 1 / 1;
}



span {
  font-size: 25px;
}
