:host {
  background-color: inherit;
}

.square {
  --squareMainLength: 150px;
  --squareMaxLength: calc(100vw/5);
  width: var(--squareMainLength);
  height: var(--squareMainLength);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: inherit;
  max-width: var(--squareMaxLength);
  max-height: var(--squareMaxLength);
  overflow: hidden;
}



span {
  font-size: 25px;
}
