:host {
  background-color: inherit;
}

.square {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: inherit;
}



span {
  font-size: 25px;
}
