/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  box-shadow: none;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.primary-font {
  font-family: 'Cairo', sans-serif;
}

.secondary-font {
  font-family: 'Poppins', sans-serif;
}

.normal-font {
  font-weight: normal;
}

.bold-font {
  font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
